*{ font-family: "Roboto", sans-serif;}
.purple-color{
    color: purple;
}
.width-half{
    text-align: justify;
    width: 40%;
    float: left;
    margin-left: 5%
    
}
.width-half img{
    width: 100%;
    border-radius: 0%;
}
.a-orange{
    text-decoration: none;
    background: linear-gradient(to right,tomato,orange);
    padding: 10px;
    color: white;
    font-weight: 700;
    border-radius: 50px;
}
.width-half{
    text-align: justify;
    width: 40%;
    float: left;
    margin-left: 5%
    
}
.width-half img{
    width: 100%;
  border-radius: 0%;
}
.a-purple{
    text-decoration: none;
    background: linear-gradient(to right,tomato,purple);
    padding: 10px;
    color: white;
    font-weight: 700;
    border-radius: 50px;
}
.experience{
    text-align: justify;
    width: 90%;
    float: left;
    margin-left: 5%
}
.experience{
    padding: 0 1px;
}
